
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />  
    <title>Index</title>
</head>
<body dir="rtl">
    <img src="https://media.licdn.com/dms/image/D4E03AQF2K9sX9y9bng/profile-displayphoto-shrink_800_800/0/1701456623324?e=2147483647&v=beta&t=GBD5VtswEdAkIHnXy4di7rBJ57I_prjNb2VcXWcN_E4" alt="Yasamin-as iamge"/>
    <img src="~/Content/Images/YA.jpg" />
    <img src="~/MyContent/Images/YA.jpg"/>
    <hr />
    <img src="~/Images/YA.jpg"/>
     <p>This is my First Code</p>
</body>
</html>
